Form Label {
    color:grey;
}
.btn-cancel {
    background-color: #F7F7F7;
}
.btn-submit {
    background-color:#1b68b3;
}
.buttonsArea {
    text-align: right;
    margin-top: 5vh
}

.displayNone {
    display:none;
}

.form-control {
    border-color: #ececec;
}