@Media (max-width: 768px) {
    .image {
        height: 75%!important;
        margin: auto!important;
    }
    .leftSideDiv {
        height: 100px;
        text-align: center;
    }
    .userDetails {
        display: none;
    }
}

@Media (min-width: 769px) {
    .image {
        height: 75%;
    }
    .leftSideDiv {
        height: 100px;
    }
    .userDetails {
        display: inline-block;
        padding: 20px;
    }
}

.image {
    position: relative;
    top: 13px;
}

.leftSideDiv div {
    height: 100%;
}

.h40 {
    height: 40px!important;
}

.bgColorSelected {
    background-color: #1b68b3;
}

.bgColorDefault {
    background-color: inherit;
}